<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
  <h2 style='text-align: center;'>Cash Tracking</h2>
  <h2 style='text-align: center;'>$ {{totalMoney.toFixed(2)}}</h2>

<div class="row">
  <div class="input-field col offset-s4 s4">
    <input placeholder="$0.00" value="" id="inputMoney" type="number" #inputMoney class="validate">
    <label  class="active" for="first_name2">Amount</label>
  </div>
</div>

<p class = "Trans" align = 'center'>
  <a  (click)="addAct(inputMoney);clear(inputMoney);" class="waves-effect waves-light btn-large positive">Income</a>
  <a  (click)="subAct(inputMoney);clear(inputMoney);" class="waves-effect waves-light btn-large negative">Expense</a>
</p>

<ul class="collection with-header ">
  <li class="collection-header"><h4>Transactions</h4></li>
  <li class="collection-item" *ngFor='let activity of transactions'>$ {{activity.amount}}<i class="material-icons">{{activity.type}}</i></li>
</ul>
</body>
<router-outlet></router-outlet>
